@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lexend Deca";
  font-weight: 400;
  font-size: 15px;
  padding: 20px;
}

button {
  font-family: "Lexend Deca";
  font-weight: 700;
  outline: none;
  cursor: pointer;
}

.main {
  background-color: var(--very-light-gray);
  border-radius: 4px;
  box-shadow: 2px 2px 20px 6px rgba(161, 161, 161, 0.421);
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 2000px;
  margin-top: 70px;
  padding: 80px 0;
}

.section {
  background-color: var(--very-light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  color: var(--transparent-white);
  width: 30%;
  max-width: 500px;
  padding: 40px;
}

.card-1 {
  background-color: var(--bright-orange);
  border-radius: 6px 0 0 6px;
}

.card-2 {
  background-color: var(--dark-cyan);
}

.card-3 {
  background-color: var(--very-dark-cyan);
  border-radius: 0 6px 6px 0;
}

.card .logo-container {
  margin-bottom: 20px;
}

.card .content-container {
  height: 230px;
  margin-bottom: 30px;
}

.card .content-container .content-heading {
  font-family: "Big Shoulders Display";
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.card .content-container .content-para {
  line-height: 1.8;
}

.card .button-container {
  margin: 0;
}

.card .button-container .card-btn {
  border: none;
  border-radius: 30px;
  padding: 12px 28px;
}

.card .button-container .card-btn:hover {
  border: 2px solid var(--transparent-white);
  background-color: inherit;
  color: var(--transparent-white);
  padding: 10px 28px;
}

.card-1 .card-btn {
  color: var(--bright-orange);
}

.card-2 .card-btn {
  color: var(--dark-cyan);
}

.card-3 .card-btn {
  color: var(--very-dark-cyan);
}

@media (max-width: 900px) {
  .section {
    flex-direction: column;
  }

  .card {
    height: unset;
    width: 100%;
    max-width: 350px;
  }

  .card .content-container {
    height: unset;
    margin-bottom: 30px;
  }

  .card-1 {
    border-radius: 10px 10px 0 0;
  }

  .card-3 {
    border-radius: 0 0 10px 10px;
  }
}

@media (max-width: 500px) {
  body {
    background-color: var(--very-light-gray);
  }
  .main {
    box-shadow: none;
    padding: 0;
  }
}
